li{
    color: pink;
    font-size: 30px;
}

div{
    background-color: yellow;
}

h2{
    background-color: yellow;
}
p{
    background-color: red;
    color: whites;
}
h3{
    background-color: pink;
    color: white;
}